{{> navbar}}

{{#with userBookshelf}}

  <h1>Welcome back to your bookshelf {{user_name}}</h1>

<form class="row g-3 col-md-4 mx-auto align-items-end">
  <div class="col-md-4">
    <label for="bookname" class="form-label">book name</label>
    <input type="text" class="form-control" id="bookname" >
  </div>
  <div class="col-md-4">
    <label for="author" class="form-label">author</label>
    <input type="text" class="form-control" id="author" >
  </div>

  <div class="col-md-4">
    <button type="submit" class="btn btn-primary" id="addBook">Add Book</button>
  </div>
</form>

{{!-- 
<p>User email: {{email}}</p>
<p>User password: {{password}}</p> 
--}}

<section class="bookshelf">

{{#each books}}
  <div class="book" data-book-id="{{id}}">
    <button type="button" class="btn-close" id="deleteBtn" aria-label="Close"></button>
    <div class="book-img-container">
      {{#if image_url}}
      <img src="{{image_url}}" alt="{{name}} by {{author}}">
      {{else}}
      <img src="/images/unavailable-cover.jpg" alt="{{name}} by {{author}}">
      {{/if}}
    </div>

    <div class="book-content">
      <h3 class="book-title">{{name}}</h3>
      <h5 class="book-author">{{author}}</h5>
    </div>
  </div>
{{/each}}

</section>

{{/with}}


{{!-- PLACEHOLDER FILE UNTIL FINAL DESIGN CHOSEN --}}