{{!-- PLACEHOLDER FILE UNTIL FINAL DESIGN CHOSEN --}}

{{!-- ADD form here for new books --}}

{{#with userBookshelf}}

  <h1>Welcome back to your bookshelf {{user_name}}</h1>


{{!-- 
<p>User email: {{email}}</p>
<p>User password: {{password}}</p> 
--}}

<section class="bookshelf">

{{#each books}}
  <div class="book" data-book-id="{{id}}">
    <button type="button" class="btn-close" id="deleteBtn" aria-label="Close"></button>
    <div class="book-img-container">
      {{#if image_url}}
      <img src="{{image_url}}" alt="{{name}} by {{author}}">
      {{else}}
      <img src="/images/unavailable-cover.jpg" alt="{{name}} by {{author}}">
      {{/if}}
    </div>

    <div class="book-content">
      <h3 class="book-title">{{name}}</h3>
      <h5 class="book-author">{{author}}</h5>
    </div>
  </div>
{{/each}}

</section>

{{/with}}


{{!-- PLACEHOLDER FILE UNTIL FINAL DESIGN CHOSEN --}}